In [23]:
import pandas as pd
import numpy as np

In [24]:
kurlamain = pd.read_csv('Data\Kurla_dataset.csv')
airportmain = pd.read_csv('Data\Airport_dataset.csv')
chakalamain = pd.read_csv('Data\Chakala_dataset.csv')

In [25]:
display(kurlamain)
display(airportmain)
display(chakalamain)

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,AT
0,17-03-2021 00:00,17-03-2021 01:00,137.96,None,None,129.99,73.27,2.32,3.47,44.77,0.82,236.97,25.74
1,17-03-2021 01:00,17-03-2021 02:00,111.31,None,None,None,None,None,None,None,None,None,None
2,17-03-2021 02:00,17-03-2021 03:00,49,None,None,None,None,None,None,None,None,None,None
3,17-03-2021 03:00,17-03-2021 04:00,32.83,None,7.97,22.28,None,None,None,61.28,0.9,184.03,25.09
4,17-03-2021 04:00,17-03-2021 05:00,50.19,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17559,18-03-2023 15:00,18-03-2023 16:00,14.93,217.88,10.18,25.75,25.55,0.33,49.06,62.99,2.59,231.42,32.5
17560,18-03-2023 16:00,18-03-2023 17:00,17.07,250.22,12.9,24.92,25.54,0.26,44.69,66.23,2.86,242.13,31.92
17561,18-03-2023 17:00,18-03-2023 18:00,12.36,236.92,10.55,22.7,25.56,0.23,48.02,70.65,2.54,243.53,31.17
17562,18-03-2023 18:00,18-03-2023 19:00,13.25,189.68,10.98,24.55,25.55,0.25,43.67,77.6,2.05,244.63,30.36
17563,18-03-2023 19:00,18-03-2023 19:08,NaN,None,None,None,None,None,None,None,None,None,None

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,AT
0,17-03-2021 00:00,17-03-2021 01:00,101.24,429.09,246.44,28.04,8.45,2.14,5.99,53.67,0.55,254.73,28.03
1,17-03-2021 01:00,17-03-2021 02:00,91.22,394.22,175.6,15.24,7.25,1.64,16.93,69.27,0.82,289.63,27.62
2,17-03-2021 02:00,17-03-2021 03:00,37.07,167.11,146.64,9.93,4.58,1.34,31.58,75.85,0.82,251.97,27.07
3,17-03-2021 03:00,17-03-2021 04:00,37.95,129.33,128.77,9.23,6.04,1.23,35.86,71.35,0.67,139.85,26.8
4,17-03-2021 04:00,17-03-2021 05:00,35.06,144.67,114.89,11.63,5.24,1.09,12.45,59.59,0.42,251.75,26.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,17-03-2023 12:00,17-03-2023 13:00,25.7,110.58,67.62,48.2,8.39,1.26,23.91,54.96,1.75,186.31,31.8
17533,17-03-2023 13:00,17-03-2023 14:00,21.88,107.47,63.57,49.73,9.09,1.24,23.71,58.73,1.01,273.52,32.49
17534,17-03-2023 14:00,17-03-2023 15:00,25.43,139.15,46.97,42.34,8.57,1.35,23.89,61.13,1.08,281.31,31.86
17535,17-03-2023 15:00,17-03-2023 16:00,26.56,100.6,44.68,39.01,8.59,1.2,23.7,61.51,0.92,271.54,32.06
17536,17-03-2023 16:00,17-03-2023 16:48,25.88,95.47,41.78,42.17,8.14,1.25,23.89,62.02,0.92,282.19,31.4

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,Temp
0,17-03-2021 00:00,17-03-2021 01:00,170.5,359.65,240.83,109.15,15.46,2.25,4.25,43.45,0.1,253.77,26.19
1,17-03-2021 01:00,17-03-2021 02:00,124.88,268,6.14,54.65,15.75,1,9.5,66.59,0.1,70.4,26.15
2,17-03-2021 02:00,17-03-2021 03:00,89.41,194.18,6.85,42.96,15.29,1,13.5,72.55,0.08,71.6,25.66
3,17-03-2021 03:00,17-03-2021 04:00,89.13,194.54,5.27,44.89,13.88,1,13.25,66.35,0.09,257.74,25.41
4,17-03-2021 04:00,17-03-2021 05:00,97.21,211.69,11.3,64.55,10.7,1,7,60.13,0.09,257.77,24.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,17-03-2023 12:00,17-03-2023 13:00,None,None,None,None,None,None,None,None,None,None,None
17533,17-03-2023 13:00,17-03-2023 14:00,None,None,None,None,None,None,None,None,None,None,None
17534,17-03-2023 14:00,17-03-2023 15:00,None,None,None,None,None,None,None,None,None,None,None
17535,17-03-2023 15:00,17-03-2023 16:00,None,None,None,None,None,None,None,None,None,None,None
17536,17-03-2023 16:00,17-03-2023 16:49,None,None,None,None,None,None,None,None,None,None,None

In [26]:
kurlamain.replace('None', np.nan, inplace=True)
kurlamain
airportmain.replace('None', np.nan, inplace=True)
airportmain
chakalamain.replace('None', np.nan, inplace=True)
chakalamain

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,Temp
0,17-03-2021 00:00,17-03-2021 01:00,170.5,359.65,240.83,109.15,15.46,2.25,4.25,43.45,0.1,253.77,26.19
1,17-03-2021 01:00,17-03-2021 02:00,124.88,268,6.14,54.65,15.75,1,9.5,66.59,0.1,70.4,26.15
2,17-03-2021 02:00,17-03-2021 03:00,89.41,194.18,6.85,42.96,15.29,1,13.5,72.55,0.08,71.6,25.66
3,17-03-2021 03:00,17-03-2021 04:00,89.13,194.54,5.27,44.89,13.88,1,13.25,66.35,0.09,257.74,25.41
4,17-03-2021 04:00,17-03-2021 05:00,97.21,211.69,11.3,64.55,10.7,1,7,60.13,0.09,257.77,24.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,17-03-2023 12:00,17-03-2023 13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17533,17-03-2023 13:00,17-03-2023 14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17534,17-03-2023 14:00,17-03-2023 15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17535,17-03-2023 15:00,17-03-2023 16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17536,17-03-2023 16:00,17-03-2023 16:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Processing the missing data with "bfill" & "ffill"

In [27]:
# kurlafilled=kurlamain.fillna(method='ffill', inplace=False)
# kurlafilled=kurlamain.fillna(method='bfill', inplace=False)
# display(kurlafilled)
# airportfilled=airportmain.fillna(method='ffill', inplace=False)
# airportfilled=airportmain.fillna(method='bfill', inplace=False)
# display(airportfilled)
# chakalafilled=chakalamain.fillna(method='ffill', inplace=False)
# chakalafilled=chakalamain.fillna(method='bfill', inplace=False)
# display(chakalafilled)

Processing the missing data with Interpolate

In [28]:
kurlainter = kurlamain
kurlainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']]= kurlainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']].astype(float)
kurlainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']]= kurlainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']].interpolate(method ='linear', limit_direction ='both')
kurlainter

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,AT
0,17-03-2021 00:00,17-03-2021 01:00,137.96,272.00,7.97,129.990000,73.270,2.320,3.470,44.770000,0.820000,236.970000,25.740000
1,17-03-2021 01:00,17-03-2021 02:00,111.31,272.00,7.97,94.086667,67.162,1.908,3.566,50.273333,0.846667,219.323333,25.523333
2,17-03-2021 02:00,17-03-2021 03:00,49.00,272.00,7.97,58.183333,61.054,1.496,3.662,55.776667,0.873333,201.676667,25.306667
3,17-03-2021 03:00,17-03-2021 04:00,32.83,272.00,7.97,22.280000,54.946,1.084,3.758,61.280000,0.900000,184.030000,25.090000
4,17-03-2021 04:00,17-03-2021 05:00,50.19,272.00,17.54,42.045000,48.838,0.672,3.854,60.695000,0.815000,151.750000,24.715000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17559,18-03-2023 15:00,18-03-2023 16:00,14.93,217.88,10.18,25.750000,25.550,0.330,49.060,62.990000,2.590000,231.420000,32.500000
17560,18-03-2023 16:00,18-03-2023 17:00,17.07,250.22,12.90,24.920000,25.540,0.260,44.690,66.230000,2.860000,242.130000,31.920000
17561,18-03-2023 17:00,18-03-2023 18:00,12.36,236.92,10.55,22.700000,25.560,0.230,48.020,70.650000,2.540000,243.530000,31.170000
17562,18-03-2023 18:00,18-03-2023 19:00,13.25,189.68,10.98,24.550000,25.550,0.250,43.670,77.600000,2.050000,244.630000,30.360000
17563,18-03-2023 19:00,18-03-2023 19:08,13.25,189.68,10.98,24.550000,25.550,0.250,43.670,77.600000,2.050000,244.630000,30.360000

In [29]:
airportinter = airportmain
airportinter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']]= airportinter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']].astype(float)
airportinter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']]= airportinter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','AT']].interpolate(method ='linear', limit_direction ='both')
airportinter

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,AT
0,17-03-2021 00:00,17-03-2021 01:00,101.24,429.09,246.44,28.04,8.45,2.14,5.99,53.67,0.55,254.73,28.03
1,17-03-2021 01:00,17-03-2021 02:00,91.22,394.22,175.60,15.24,7.25,1.64,16.93,69.27,0.82,289.63,27.62
2,17-03-2021 02:00,17-03-2021 03:00,37.07,167.11,146.64,9.93,4.58,1.34,31.58,75.85,0.82,251.97,27.07
3,17-03-2021 03:00,17-03-2021 04:00,37.95,129.33,128.77,9.23,6.04,1.23,35.86,71.35,0.67,139.85,26.80
4,17-03-2021 04:00,17-03-2021 05:00,35.06,144.67,114.89,11.63,5.24,1.09,12.45,59.59,0.42,251.75,26.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,17-03-2023 12:00,17-03-2023 13:00,25.70,110.58,67.62,48.20,8.39,1.26,23.91,54.96,1.75,186.31,31.80
17533,17-03-2023 13:00,17-03-2023 14:00,21.88,107.47,63.57,49.73,9.09,1.24,23.71,58.73,1.01,273.52,32.49
17534,17-03-2023 14:00,17-03-2023 15:00,25.43,139.15,46.97,42.34,8.57,1.35,23.89,61.13,1.08,281.31,31.86
17535,17-03-2023 15:00,17-03-2023 16:00,26.56,100.60,44.68,39.01,8.59,1.20,23.70,61.51,0.92,271.54,32.06
17536,17-03-2023 16:00,17-03-2023 16:48,25.88,95.47,41.78,42.17,8.14,1.25,23.89,62.02,0.92,282.19,31.40

In [30]:
chakalainter = chakalamain
chakalainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','Temp']]= chakalainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','Temp']].astype(float)
chakalainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','Temp']]= chakalainter[['PM2.5','PM10','NO','NO2','SO2','CO','Ozone','RH','WS','WD','Temp']].interpolate(method ='linear', limit_direction ='both')
chakalainter

,From Date,To Date,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,Temp
0,17-03-2021 00:00,17-03-2021 01:00,170.50,359.65,240.83,109.15,15.46,2.25,4.25,43.45,0.10,253.77,26.19
1,17-03-2021 01:00,17-03-2021 02:00,124.88,268.00,6.14,54.65,15.75,1.00,9.50,66.59,0.10,70.40,26.15
2,17-03-2021 02:00,17-03-2021 03:00,89.41,194.18,6.85,42.96,15.29,1.00,13.50,72.55,0.08,71.60,25.66
3,17-03-2021 03:00,17-03-2021 04:00,89.13,194.54,5.27,44.89,13.88,1.00,13.25,66.35,0.09,257.74,25.41
4,17-03-2021 04:00,17-03-2021 05:00,97.21,211.69,11.30,64.55,10.70,1.00,7.00,60.13,0.09,257.77,24.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17532,17-03-2023 12:00,17-03-2023 13:00,181.72,255.29,66.47,210.11,28.82,3.67,68.33,27.90,0.09,314.53,32.52
17533,17-03-2023 13:00,17-03-2023 14:00,181.72,255.29,66.47,210.11,28.82,3.67,68.33,27.90,0.09,314.53,32.52
17534,17-03-2023 14:00,17-03-2023 15:00,181.72,255.29,66.47,210.11,28.82,3.67,68.33,27.90,0.09,314.53,32.52
17535,17-03-2023 15:00,17-03-2023 16:00,181.72,255.29,66.47,210.11,28.82,3.67,68.33,27.90,0.09,314.53,32.52
17536,17-03-2023 16:00,17-03-2023 16:49,181.72,255.29,66.47,210.11,28.82,3.67,68.33,27.90,0.09,314.53,32.52

Outliers using STD

In [31]:
kurlastd = kurlainter
kurlastd = kurlastd.drop(kurlastd.columns[[0,1]], axis=1)
kurlastd

,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,RH,WS,WD,AT
0,137.96,272.00,7.97,129.990000,73.270,2.320,3.470,44.770000,0.820000,236.970000,25.740000
1,111.31,272.00,7.97,94.086667,67.162,1.908,3.566,50.273333,0.846667,219.323333,25.523333
2,49.00,272.00,7.97,58.183333,61.054,1.496,3.662,55.776667,0.873333,201.676667,25.306667
3,32.83,272.00,7.97,22.280000,54.946,1.084,3.758,61.280000,0.900000,184.030000,25.090000
4,50.19,272.00,17.54,42.045000,48.838,0.672,3.854,60.695000,0.815000,151.750000,24.715000
...,...,...,...,...,...,...,...,...,...,...,...
17559,14.93,217.88,10.18,25.750000,25.550,0.330,49.060,62.990000,2.590000,231.420000,32.500000
17560,17.07,250.22,12.90,24.920000,25.540,0.260,44.690,66.230000,2.860000,242.130000,31.920000
17561,12.36,236.92,10.55,22.700000,25.560,0.230,48.020,70.650000,2.540000,243.530000,31.170000
17562,13.25,189.68,10.98,24.550000,25.550,0.250,43.670,77.600000,2.050000,244.630000,30.360000
17563,13.25,189.68,10.98,24.550000,25.550,0.250,43.670,77.600000,2.050000,244.630000,30.360000

In [32]:
def determine_outlier_thresholds_std(dataframe, col_name):
    upper_boundary = dataframe[col_name].mean() + 3 * dataframe[col_name].std()
    lower_boundary = dataframe[col_name].mean() - 3 * dataframe[col_name].std()
    return lower_boundary, upper_boundary
def check_outliers_std(dataframe, col_name):
    lower_boundary, upper_boundary = determine_outlier_thresholds_std(dataframe, col_name)
    if dataframe[(dataframe[col_name] > upper_boundary) | (dataframe[col_name] < lower_boundary)].any(axis=None):
        return True
    else: 
        return False

def replace_with_thresholds_std(dataframe, cols, replace=False):
    from tabulate import tabulate
    data = []
    for col_name in cols:
        if col_name != 'Outcome':
            outliers_ = check_outliers_std(dataframe, col_name)
            count = None
            lower_limit, upper_limit = determine_outlier_thresholds_std(dataframe, col_name)
            if outliers_:
                count = dataframe[(dataframe[col_name] > upper_limit) | (dataframe[col_name] < lower_limit)][col_name].count()
                if replace:
                    if lower_limit < 0:
                        # We don't want to replace with negative values, right!
                        dataframe.loc[(dataframe[col_name] > upper_limit), col_name] = upper_limit
                    else:
                        dataframe.loc[(dataframe[col_name] < lower_limit), col_name] = lower_limit
                        dataframe.loc[(dataframe[col_name] > upper_limit), col_name] = upper_limit
            outliers_status = check_outliers_std(dataframe, col_name)
            data.append([outliers_, outliers_status,count, col_name, lower_limit, upper_limit])
    table = tabulate(data, headers=['Outlier (Previously)','Outliers','Count', 'Column','Lower Limit', 'Upper Limit'], tablefmt='rst', numalign='right')
    print("Removing Outliers using 3 Standard Deviation")
    print(table)

replace_with_thresholds_std(kurlastd, kurlastd.columns,replace=False)

Removing Outliers using 3 Standard Deviation
======================  ==========  =======  ========  =============  =============
Outlier (Previously)    Outliers      Count  Column      Lower Limit    Upper Limit
======================  ==========  =======  ========  =============  =============
True                    True            224  PM2.5          -120.585        213.244
True                    True            283  PM10           -240.446        560.973
True                    True            344  NO             -88.6513        177.493
True                    True            214  NO2            -58.7763        132.073
True                    True            585  SO2            -62.7162        119.011
True                    True            360  CO             -0.81868        1.88213
True                    True            192  Ozone          -54.7784        144.994
True                    True              1  RH              17.6343        129.254
True                    True             47  WS             -1.32749        4.59819
False                   False                WD             -35.0219         410.05
True                    True            345  AT              12.9378        42.8791
======================  ==========  =======  ========  =============  =============

Outliers using IQR

In [33]:
kurlaiqr = kurlainter
kurlaiqr = kurlaiqr.drop(kurlaiqr.columns[[0,1]], axis=1)
kurlaiqr = kurlaiqr.apply(pd.to_numeric, errors='coerce')

In [34]:
def determine_outlier_thresholds_iqr(dataframe, col_name, th1=0.25, th3=0.75):
    quartile1 = dataframe[col_name].quantile(th1)
    quartile3 = dataframe[col_name].quantile(th3)
    iqr = quartile3 - quartile1
    upper_limit = quartile3 + 1.5 * iqr
    lower_limit = quartile1 - 1.5 * iqr
    return lower_limit, upper_limit

def check_outliers_iqr(dataframe, col_name):
    lower_limit, upper_limit = determine_outlier_thresholds_iqr(dataframe, col_name)
    if dataframe[(dataframe[col_name] > upper_limit) | (dataframe[col_name] < lower_limit)].any(axis=None):
        return True
    else: 
        return False

def replace_with_thresholds_iqr(dataframe,cols, th1=0.05, th3=0.95, replace=False):
    from tabulate import tabulate
    data = []
    for col_name in cols:
        if col_name != 'Outcome':
            outliers_ = check_outliers_iqr(dataframe,col_name)
            count = None
            lower_limit, upper_limit = determine_outlier_thresholds_iqr(dataframe, col_name, th1, th3)
            if outliers_:
                count = dataframe[(dataframe[col_name] > upper_limit) | (dataframe[col_name] < lower_limit)][cols].count()
                if replace: 
                    if lower_limit < 0:
                        # We don't want to replace with negative values, right!
                        dataframe.loc[(dataframe[col_name] > upper_limit), col_name] = upper_limit
                    else:
                        dataframe.loc[(dataframe[col_name] < lower_limit), col_name] = lower_limit
                        dataframe.loc[(dataframe[col_name] > upper_limit), col_name] = upper_limit
            outliers_status = check_outliers_iqr(dataframe, col_name)
            data.append([outliers_, outliers_status, count, col_name, lower_limit, upper_limit ])
    table = tabulate(data, headers=['Outliers (Previously)', 'Outliers', 'Count', 'Column', 'Lower Limit', 'Upper Limit'], tablefmt='rst', numalign='right')
    print("Removing Outliers using IQR")
    print(table)

replace_with_thresholds_iqr(kurlaiqr, kurlaiqr.columns)
# check_outliers_iqr(filled1, 'PM2.5')

Removing Outliers using IQR
=======================  ==========  ============  ========  =============  =============
Outliers (Previously)    Outliers    Count         Column      Lower Limit    Upper Limit
=======================  ==========  ============  ========  =============  =============
True                     True        PM2.5    183  PM2.5          -153.779        280.831
                                     PM10     183
                                     NO       183
                                     NO2      183
                                     SO2      183
                                     CO       183
                                     Ozone    183
                                     RH       183
                                     WS       183
                                     WD       183
                                     AT       183
                                     dtype: int64
True                     True        PM2.5    33   PM10           -526.975        928.959
                                     PM10     33
                                     NO       33
                                     NO2      33
                                     SO2      33
                                     CO       33
                                     Ozone    33
                                     RH       33
                                     WS       33
                                     WD       33
                                     AT       33
                                     dtype: int64
True                     True        PM2.5    14   NO             -184.431        318.508
                                     PM10     14
                                     NO       14
                                     NO2      14
                                     SO2      14
                                     CO       14
                                     Ozone    14
                                     RH       14
                                     WS       14
                                     WD       14
                                     AT       14
                                     dtype: int64
True                     True        PM2.5    2    NO2            -151.362        254.512
                                     PM10     2
                                     NO       2
                                     NO2      2
                                     SO2      2
                                     CO       2
                                     Ozone    2
                                     RH       2
                                     WS       2
                                     WD       2
                                     AT       2
                                     dtype: int64
True                     True        PM2.5    0    SO2            -120.495        211.359
                                     PM10     0
                                     NO       0
                                     NO2      0
                                     SO2      0
                                     CO       0
                                     Ozone    0
                                     RH       0
                                     WS       0
                                     WD       0
                                     AT       0
                                     dtype: int64
True                     True        PM2.5    18   CO                -1.94           3.42
                                     PM10     18
                                     NO       18
                                     NO2      18
                                     SO2      18
                                     CO       18
                                     Ozone    18
                                     RH       18
                                     WS       18
                                     WD       18
                                     AT       18
                                     dtype: int64
True                     True        PM2.5    0    Ozone          -157.338        276.257
                                     PM10     0
                                     NO       0
                                     NO2      0
                                     SO2      0
                                     CO       0
                                     Ozone    0
                                     RH       0
                                     WS       0
                                     WD       0
                                     AT       0
                                     dtype: int64
True                     True        PM2.5    0    RH              -50.535        190.065
                                     PM10     0
                                     NO       0
                                     NO2      0
                                     SO2      0
                                     CO       0
                                     Ozone    0
                                     RH       0
                                     WS       0
                                     WD       0
                                     AT       0
                                     dtype: int64
True                     True        PM2.5    28   WS                -2.73           6.23
                                     PM10     28
                                     NO       28
                                     NO2      28
                                     SO2      28
                                     CO       28
                                     Ozone    28
                                     RH       28
                                     WS       28
                                     WD       28
                                     AT       28
                                     dtype: int64
False                    False                     WD             -241.852        589.655
True                     True        PM2.5    0    AT               -5.524         66.944
                                     PM10     0
                                     NO       0
                                     NO2      0
                                     SO2      0
                                     CO       0
                                     Ozone    0
                                     RH       0
                                     WS       0
                                     WD       0
                                     AT       0
                                     dtype: int64
=======================  ==========  ============  ========  =============  =============